services:
  app:
    build: .
    restart: always
    ports:
      - "3001:3000"
    environment:
      ENV: prod
      APP_PORT: 3000
      CACHE_DSN: valkey:6379
    env_file:
      - .env
    depends_on:
      - valkey

  valkey:
    image: valkey/valkey:alpine
    restart: always
    command: valkey-server --save 20 1 --loglevel warning
    volumes:
      - valkey:/data

volumes:
  valkey: ~
