services:
  app:
    build: .
    restart: always
    ports:
      - "3001:3000"
    environment:
      ENV: prod
      APP_PORT: 3000
      CACHE_DSN: cache:6379
    env_file:
      - .env
    depends_on:
      - cache

  cache:
    image: redis:alpine
    restart: always
    volumes:
      - cache:/data

volumes:
  cache: ~
